.con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    gap:20px;
    max-width: 100%;
    flex-flow: wrap;
    justify-content: center;
}
